

.contact-container {
  max-width: 95vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #e0df94bd;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  margin-top:8vw;
  max-height:82vh;
}

/* Left Side */
.contact-info {
  padding: 30px;
  background: #90ecd5;
  color: #fff;
}

.contact-info h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.contact-info p {
  opacity: 0.9;
  line-height: 1.6;
  margin-bottom: 25px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
  font-size: 16px;
}

.info-item span {
  font-size: 20px;
}

/* Right Side */
.contact-form {
  padding: 50px;
}

.contact-form h7 {
  font-size: 26px;
  margin-bottom: 20px;
  color: #1e293b;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #2563eb;
}

.contact-form button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background: #1d4ed8;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
  }

  .contact-info,
  .contact-form {
    padding: 35px;
  }
}
