
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.signup-container {
    background:  rgb(122, 209, 180);
    padding: 1vw;
    border-radius: 3vw;
    width: 30vw;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
    border: 5px solid #e05239;
 display: flex;
 flex-direction: column;
    text-align: center;
    height: fit-content;
    position: absolute;
    margin-top: -23vw;
    margin-left: -12vw;
}

/* Heading */
.signup-container h2 {
    margin-bottom: 20px;
    color: #d46060;
    font-weight: 1000;
}

/* Form Groups */
.form-group {
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.form-group label {
  
    flex-wrap: wrap;
    margin-bottom: 6px;
    font-weight: bold;
    color: #2c2e2db9;
    font-size: 1.5vw;
    
    margin-left: 1vw;
    
    
}


.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3vw;
    outline: none;
    transition: 0.3s;
}

/* Focus Effect */
.form-group input:focus,
.form-group select:focus {
    border-color: #2575fc;
    box-shadow: 0px 0px 6px rgba(37,117,252,0.5);
}

/* Button */
button {
    width: 16vw;
    height: 3vw;
    margin-top: 10px;
    
    background: linear-gradient(135deg, #d38561, #700d0d);
    border: 2px solid #700d0d;
    border-radius: 3vw;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
   
    justify-content: center;
    align-items: center;
    
    
}

button:hover {
    background: linear-gradient(135deg, #7a0d25, #b6d34d);
    transform: scale(1.05);
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3vw;
    outline: none;
    transition: 0.3s;
}   
@media(max-width:768px){
    button {
    width: 80px;
    height: 30px;
    margin-top: 10px;
    
    background: linear-gradient(135deg, #d38561, #700d0d);
    border: 2px solid #700d0d;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
   
    justify-content: center;
    align-items: center;
    
    
}
.signup-container {
    background:  rgb(122, 209, 180);
    padding: 1vw;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
    border: 5px solid #e05239;
 display: flex;
 flex-direction: column;
    text-align: center;
    height: fit-content;
    position: absolute;
    margin-top: -230px;
    margin-left: -150px;
}
.form-group label {
  
    flex-wrap: wrap;
    margin-bottom: 6px;
    font-weight: bold;
    color: #2c2e2db9;
    font-size: 20px;
    
    margin-left: 1vw;
    
    
}

}