.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    border-bottom:1px solid rgba(109, 110, 100, 0.664);
    
    margin-top:2vw;
    margin-left:2vw;
    padding: 0;
    border-radius: 2vw;
    border: 2px solid grey;
    height:6vw;
    width:96%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
   position:absolute;
    
    
    
}

.logo {
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: center;
}

.logo-image {
    width: 4vw;
    height: 4vw;
    margin-left: 1vw;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
}
.logo-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-text h2 {
    margin: 0;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 2vw;
    
    justify-content: center;
    align-items: center;
}

.nav-links ul {
    margin-left: 20px;
    display: flex;
    gap: 5vw;
    list-style: none;
    font-size: 2vw;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a h1 {
    margin: 0;
    font-size: 2vw;
}

.menubar {
    cursor: pointer;
    display: none;
    
}
#home, #about, #courses, #contact, #profile {
    transition: transform 0.3s;
    cursor: pointer;
    
}
#home:hover, #about:hover, #courses:hover, #contact:hover, #profile:hover {
    
    scale: 1.1;
    border-bottom: 2px solid grey;
    
}
@media (max-width: 768px) {
    .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    border-bottom:1px solid rgba(109, 110, 100, 0.664);
    
    margin-top:2vw;
    margin-left:2vw;
    padding: 0;
    border-radius: 2vw;
    border: 2px solid grey;
    height:60px;
    width:96%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
   position:absolute;
    
    
    
}
  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: #444;
    width: 200px;
    text-align: left;
    padding: 10px;
    border-left:2px solid white;
    border-radius:20px
  }

  .nav-links.open {
    display: block;
  }
  
.logo-image {
    width: 30px;
    height: 30px;
    margin-left: 1vw;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
}

  .nav-links ul {
    flex-direction: column;
    font-size:15px;
    
  }

  .nav-links ul li {
    margin: 10px 0;
    
  }

 
  .menubar {
    cursor: pointer;
    display: block;
  
    
}
.nav-links a h1 {
    margin: 0;
    font-size: 15px;
}
}
