*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
.main {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    background-color: black;
    margin: 1vw;
    padding: 3vw;
    gap:2vw;
    display:flex;
    flex-direction: column;
    
}
.container-section {
    width: 100%;
    height: fit-content;
    margin-top: 6vw;
    gap: 2vw;
    padding: 2vw;
    
   
}
.nav-bar {
    width: 100%;
    height: 6vw;
    position: fixed;
    top: 0;
    left: 0;
   
}